<!-- Main index file for the Rainy Day App, displays the landing page for the site -->
<div class="container-fluid">
  <div id="section-1">
    <h1 id="title">Rainy Day</h1>
    <h3 id="subtitle">Because when it pours, you'll need something fun to do</h3>
    <br />
    <br />
    <br />
      <div class="row" id="btns-public">
        <% if !@current_user %>
          <div class="col-xs-4">
          </div>
          <div class="col-xs-4">
            <%= link_to 'Login', '#login', class:'btn btn-primary main_btns', data: {:toggle => 'modal'} %>
            <%= link_to 'Sign Up', '#signup', class:'btn btn-primary main_btns', data: {:toggle => 'modal'} %>
          </div>
          <div class="col-xs-4">
          </div>
        <% end %>
      </div>
    <a href="#use_cases" type="button" class="btn btn-primary btn-lg" id="subtitle-2">How it works</a>
  </div>
  <div id='use_cases' class="section-2">
    <div class="row">
      <div class="col-sm-6 col-md-4 use_case">
        <div class="thumbnail">
          <i class="fa fa-search fa-5x"></i>
          <div class="caption">

            <h3>Search for activities</h3>
            <p>How many times have you said to yourself that you'd save something for a rainy day? And when that rainy day comes, you find yourself feeling let down or disappointed? Now, it's time to save a list of fun things to do instead, and transform your whole perspective on rainy days!</p>

          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 use_case">
        <div class="thumbnail">
          <i class="fa fa-list fa-5x"></i>
          <div class="caption">
            <h3>Create a list</h3>

            <p>Keep a running a list of all the things you'd rather do on rainy days, and monitor your progress using our Goals tracker.</p>

          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 use_case">
        <div class="thumbnail">
          <i class="fa fa-trophy fa-5x"></i>
          <div class="caption">
            <h3>Achieve</h3>

            <p>Work towards completing your rainy days goals to unlock achievements using our simple dashboard.</p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about_us">
    <h2 id="aboutUsLabel">About the Developers</h2>

    <br />
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= image_tag("kathy.jpg", class: "about_pics", alt: "A lovely picture of Kathy") %>

            <div class="caption">
              <h3>Kathy</h3>
                <h4>API Master</h4>
                  <p>
                    Kathy served as an API master and full stack developer for Rainy Day. Her main contributions include incorporating the Google Places API search functionality and styling Rainy Day's homepage.
                  </p>
                  <p>
                    <a href="https://www.linkedin.com/in/kathylovan">
                      <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                    <a href="https://github.com/katiosity">
                      <i class="fa fa-github fa-2x"></i>
                    </a>
                  </p>
            </div>
        </div>
      </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("katlyn.jpg", class: "about_pics", alt: "A lovely picture of Kathy") %>
        <div class="caption">
          <h3>Katlyn</h3>
          <h4>Project Manager</h4>
          <p>Katlyn served as Project manager and Trello master. As with the rest of the team she took on a full stack role.  She contributed to the main page, achievements page, as well as restricting access when a user is not logged in.  In her spare time, Katlyn ejoys hiking, baking, and exploring.</p>
          <p><a href="https://www.linkedin.com/in/katlyn-buffum-9891b8b1"><i class="fa fa-linkedin-square fa-2x"></i></a>
          <a href="https://github.com/k-buffum"><i class="fa fa-github fa-2x"></i></a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("riddler.png", class: "about_pics", alt: "...") %>
        <div class="caption">
          <h3>Neth</h3>
          <h4>Database Manager</h4>
          <p>Neth served as database manager which included creating/editing databases and creating the forms to send data to the databases. Neth has become so obsessed with databases that he has started calling himself "The Databasist" and is plotting database-themed ways to destroy the Batman once and for all.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("scott.jpg", class: "about_pics", alt: "A lovely picture of Scott") %>
        <div class="caption">
          <h3>Scott</h3>
          <h4>Git Master</h4>
          <p>Scott served as the Git Master on Rainy Day and took a full stack roll, working with both the front end and back end. He contributed to various aspects including styling, routes, database construction and authentication. In his spare time he enjoys playing board games and teaching his baby girl her first (Scottish) words.</p>
          <p><a href="https://www.linkedin.com/in/scott-heron-8287ab18"><i class="fa fa-linkedin-square fa-2x"></i></a>
          <a href="https://github.com/scottheron"><i class="fa fa-github fa-2x"></i></a></p>

        </div>
      </div>
    </div>
  </div>
  </div>
    <div class="modal fade" id="login">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Login to Rainy Day</h4>
          </div>
          <div class="modal-body">
            <h1>Login</h1>
            <%= bootstrap_form_for :user, url: '/login' do |user| %>
              <%= user.email_field :email %>
              <%= user.password_field :password %>
              <%= user.primary 'login' %>
              <a class="btn btn-primary" href="/reset" role="button">Forgot Password?</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal fade" id="signup">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sign up for Rainy Day</h4>
        </div>
        <div class="modal-body">
          <h1>Sign Up</h1>

            <%= bootstrap_form_for :user, url: '/signup' do |user| %>
              <%= user.text_field :name %>
              <%= user.email_field :email %>
              <%= user.password_field :password %>
              <%= user.password_field :password_confirmation %>
              <%= bootstrap_form_for :zip do |zip| %>

              <%= zip.text_field :code %>
              <%= user.primary 'Signup' %>
                <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

