<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Questrial|Comfortaa:400,300,700|Dancing+Script:400,700' rel='stylesheet' type='text/css'>
    <title>Rainyday</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div id='main'>
    <% if @current_user %>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" id="navbar-brand">Rainy Day</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/search" id="nav-link">Search page</a></li>
              <li><a href="/goal" id="nav-link">Goals</a></li>
              <li><a href="/achievements" id="nav-link">Achievements</a></li>
              <li><a href="/profile" id="nav-link">My Profile</a></li>
              <li><a href="/logout" id="nav-link">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <% end %>
    <%= render 'partials/alert' %>

    <%= yield %>
    </div>
      <div id='footer'>
        <footer>
          <span id="copyright">
            <i class="fa fa-copyright"></i> Rainy Day 2016. All rights reserved.
          </span>
        </footer>
      </div>
  </body>
</html>